<h1>Редактирование вагона</h1>

<%= render 'form', cars: @car.becomes(Car), train: @train %>

<%= link_to t('common.edit'), car: @car.becomes(Car) %> |
<%= link_to t('common.back'), admin_car_path(@car) %>