<p id="notice"><%= notice %></p>

<h1>Вагоны</h1>

<table>
  <thead>
  <tr>
    <th>Вид вагона</th>
    <th>Номер</th>
    <th>Верхние места</th>
    <th>Нижние места</th>
    <th>Боковые верхние места</th>
    <th>Боковые нижние места</th>
    <th>Сидячие места</th>
    <th>Номер поезда</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @cars.each do |car| %>
    <tr>
      <%= render car.becomes(Car) %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить вагон', new_admin_train_car_path %>