<footer class="footer">
  <small>
    Made by <a href="https://gotoinc.co">GoToInc Company</a>
  </small>
  <nav>
    <ul>
<!--      <li><%#= link_to "About",   '#' %></li>-->
<!--      <li><%#= link_to "Contact", '#' %></li>-->
      <li><a href="https://www.linkedin.com/in/andrii-khavriuta-401482206/">Contact</a></li>
    </ul>
  </nav>
</footer>